{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row" >
        <div class="col-md-12" >
            <div class="shadow banner">
                <div class="banner-text">
                    <h1>ToDo</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" >
    <div class="row">
        <div class="col-md-6">
        <form method="POST"  class="p-3 shadow">
            {% csrf_token %}
            <div class="form-group">
                    <input type="text" class="form-control" name="task" placeholder="Task name">
                </div>
                <div>
                        <input type="text" class="form-control" name="priority" placeholder="Enter your priority">
                 </div><br>
                     <div>
                        <input type="date" class="form-control" name="date" placeholder="Enter your date">
                 </div><br>


        <input type="submit" class="btn btn-success">
            </form>

    </div>
        <div class="col-md-6">
            <h4>Task to be completed</h4><br>
            {% for i in task1 %}
            <div class="shadow card">
                <div class="class-body">
                    <div class="card-title">
                      <p><b>  {{i.name}}</b></p>
                    <p><b>{{i.priority}}</b></p>
                    <p><b>{{i.date}}</b></p>
                    <a class="btn btn-danger" href="{% url 'delete' i.id %}">done</a>
                    <a class="btn btn-success" href="{% url 'update' i.id %}">update</a>
                        </div>
                </div>
            </div>
            <br>
            {% endfor %}

        </div>

</div>
</div>

{% endblock %}